<div class="container">
  <nav class="nav collapsible">
    <ul class="list nav__list collapsible__content">
      <li class="nav__item"><a href="#">Hosting</a></li>
      <li class="nav__item"><a href="#">VPS</a></li>
      <li class="nav__item"><a href="#">Domain</a></li>
      <li class="nav__item"><a href="#">Pricing</a></li>
    </ul>
  </nav>
  <section class="block container block-plans" data-aos="zoom-in">
    <div class="grid grid--1x3">
      <div class="plan">
        <div class="card card--secondary">
          <header class="card__header">
            <span class="plan__price">Main Quest</span>
          </header>
          <div class="card__body">
            <ul class="list list--tick">
              <li class="list__item">Quest 1</li>
              <li class="list__item">Quest 2</li>
              <li class="list__item">Quest 3</li>
              <li class="list__item">Quest 4</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="plan">
        <div class="card card--secondary lore--card">
          <header class="card__header">
            <span class="plan__price">Quest 1</span>
          </header>
          <div class="card__body">
            <ul class="list list--tick">
              <li class="list__item">Objective 1</li>
              <li class="list__item">Objective 2</li>
              <li class="list__item">Objective 3</li>
              <li class="list__item">Objective 4</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="plan">
        <div class="card card--secondary lore--card">
          <header class="card__header"></header>
          <div class="card__body">
            <ul class="list list--tick">
              <li class="list__item">Unlimited Websites</li>
              <li class="list__item">Unlimited Bandwidth</li>
              <li class="list__item">100 GB SSD Storage</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
